
body {
  min-height: 100vh;
  background-color: #f8f8f8;
}

.logo {
  max-height: 50px;
  max-width: calc(100% - 40px);
}

.bg-white {
  background-color: white;
  padding: 16px;
}

.bg-purple {
  margin: 8px;
  border-radius: 4px;
  background-color: #e5e5f4;

}

.blue-text {
 color: #000091;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.max-450 {
  max-width: 450px;
}

.max-400 {
  max-width: 400px;
}

.fr-btn {
  width: 100%;
  display: table-cell;
}

.left-row {
  margin-left: auto;
  margin-right: 32px;
}

.bg-pic:before {
    content: " ";
    background-color: black;
    height: 100%;
    width: 100%;
}

.bg-pic {
  background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../img/Immeuble.webp") no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

li {
  padding: 0 !important;
}
.separator {
	display: flex;
	align-items: center;
	text-align: center;
	color: #6a6a6a;
	font-size: 12px;
}
      
.separator::before,
.separator::after {
	content: '';
	flex: 1;
	border-bottom: 1px solid #cecece;
}
      
.separator:not(:empty)::before {
	margin-right: 2rem;
}
      
.separator:not(:empty)::after {
	margin-left: 2rem;
}

.alert-error {
  background-color: #f7bfc3;
  color: #a9000b;
  padding-left: 12px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;

  border-color: #e10600;
  border-left: 2px solid;
}

.small-text {
  font-size: 14px;
}

.align-end {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
}

.li-margin {
  margin: 0.5rem;
}

.fr-header__tools-links .fr-links-group {
  margin-right: 0;
}

.full-width {
  max-width: 100% !important;
  padding-left: 0;
  padding-right: 0;
}

.fluid-full-width {
    max-width: 100%!important;
    padding-left: 0!important;
    padding-right: 0!important;
}

.lang {
  box-shadow: none;
}
.underline {
  text-decoration: underline;
}
#app{
padding-bottom: 2px;
}
